<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts - AK Cell</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('partials/header') %>

    <div class="hero-section">
        <h1 class="display-4">Accounts Services</h1>
        <p class="lead col-lg-8 mx-auto">
            All available accounts and subscriptions in one place.
        </p>
    </div>

    <div class="container my-5 py-5">
        <h2 class="text-center section-title">Select a Service</h2>
        <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-3 g-4">
            
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/free-fire-section" class="category-card">
                    <img src="/images/free-fire.png" class="card-img" alt="free-fire">
                    <div class="card-body">free fire</div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/jawaker-section" class="category-card">
                    <img src="/images/jawaker-logo.png" class="card-img" alt="jawaker">
                    <div class="card-body">jawaker</div>
                </a>
            </div>

         
               

            </div>
    </div>
</div>
    <%- include('partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>