<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Cards - AK Cell</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap-icons/font/bootstrap-icons.css">

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('partials/header') %>

    <div class="hero-section">
        <h1 class="display-4">Gift Cards Services</h1>
        <p class="lead col-lg-8 mx-auto">
            All available Gift Cards and subscriptions in one place.
        </p>
    </div>

    <div class="container my-5 ">
    <div class="search-bar-container">
        <form id="searchForm" action="#" method="GET" role="search">
            <input type="search" id="searchInput" class="search-input" placeholder="Search for any service...">
            <button type="submit" class="search-btn">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>

    <div class="container my-5 py-5">
        <h2 class="text-center section-title">Select a Service</h2>
        <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-3 g-4">
            
           
             <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/windows-section" class="category-card service-card">
                    <img src="/images/windows.png" class="card-img" alt="windows section">
                    <div class="card-body">Windows key</div>
                </a>
            </div>


            </div>
    </div>
</div>
    <%- include('partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>